div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  width: 100vw;
}

button {
  color: white;
  background-color: crimson;
  border: 1px solid crimson;
  padding: 5px;
  font-size: large;
  cursor: pointer;
}